
body{
    background-image: url("../images/background-3.jpg" );  
    background-size: cover;
    background-position: center;
}


h1 { text-align: center;
    color: whitesmoke;
    font-family: 'Sansita Swashed', cursive;
    font-weight: italic;
    font-size: 50px;

    }


.row{
    margin: 10px auto;  
    text-align: center; 
     width:50%;
    padding: 0 65px;
    
    
    
    }
    
    
    hr  
    {  
    width: 100%;  
    height: 2px;    
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left:  auto;  
    margin-top: 9px;  
    border-width: 4px;  
    border-color: #333;  
    }  
    

    .col-sm img{
        padding-right:  20px auto;
        
   
}

#footer {
    
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: whitesmoke;
    position: absolute;
    width: 100%;
    height: 2.5rem;
    float: left;
    left: 0;
    padding: 30px;
    padding-top: 15%;
}

.card{
    background-color: #333;
}


@media screen and (max-width: 768px) {


   .col-sm, .col-sm-6, .col-sm-img{   
       
        width: 100%;
        padding: 5px;
      }

     .row{
         width: 100%;
     }
     

      
}
@media screen and (max-width: 350px) {


    .col-sm, .col-sm-6, .col-sm-img{   
       
        width: 100%;
        padding: 5px;
      }

     .row{
         width: 100%;
     }

}

