
    
h1{

    text-align: center;
    color: whitesmoke;
    font-family: 'Sansita Swashed', cursive;
    font-weight: italic;
    font-size: 50px;

}

    body{
        background-image: url("../images/background-3.jpg" );  
        background-size: cover;
        background-position: center;
    }
   



.container {

   background-color: #333;
   border-right-width: 20px;
    width: 40%;
    color: whitesmoke
}

.row {
    padding: 10px;
}

.col-sm-3 img {
    width:80%;
    float: left;
   
}

.col-med-6{
    color: whitesmoke;
    float: right;
}

#footer {
    
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: whitesmoke;
    position: absolute;
    width: 100%;
    height: 2.5rem;
    float: left;
    left: 0;
    padding: 30px;
    padding-top: 15%;
}

hr  
{  
width: 50%;  
height: 2px;    
margin-bottom: 7px;  
margin-right: auto;  
margin-left: auto;  
margin-top: 9px;  
border-width: 4px;  
border-color: #333;  
}  



.card{
    background-color: #333;
}




 @media screen and (max-width: 350px) {

    

.container{
    width: 80%;
  
}

.col-sm-3 img {
    width:70%;
    

    }

 }